<div class="row">
  <div class="col-md-offset-4 col-md-4 col-md-offset-4">
    <div class="mid-banner">
      <div class="logo">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        Awesome Tasks
      </div>
      <div class="copy">
        Organize your TODOS with the Google's Tasks API.
        <span>The best way to manage your todos</span>
      </div>
      <button class="loginBtn loginBtn--google" (click)="signIn()">
        Login with Google
      </button>
    </div>
  </div>
</div>